@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:wght@400;500;600;700&display=swap');
/* Google fonts import */

/* Global styles*/
body {
    font-family: 'Merriweather', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
}
/* Navbar*/
body {
  padding-top: 30px; /* adjust if navbar is taller */
}
/* Hero section */

.hero-carousel {
  height: 500px; /* or use 100vh for full screen */
  overflow: hidden;
}

.hero-carousel img,
.carousel-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Signs of Abuse section  */

.signs-of-abuse-card:hover {
    transform: translateY(-4px);
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

 
